

@media (min-width: 576px) { .container {
  max-width: 540px;
  }
}

@media (min-width: 768px) { .container {
  max-width: 720px;
  }
}

@media (min-width: 992px) { .container {
  max-width: 960px;
}
}

@media (min-width: 1200px) { .container {
    max-width: 1170px;
  }
}

// .container{
//   margin:0 135px;
//   padding: 0 15px;
// }


.banner-metier{
  height: 50vh;
  background-color: white;
  z-index: -2;
  position:absolute;
  top:0;
  iframe{
    height: 100%;
    width: 100vw;
    z-index: -2;
    .html5-video-player {
      width: 100vw;
      height: 100%;
    }
  }
}

.positions{
  position: relative;
  top: 35vh;
  height: 150vh;
  .nav-pills{
    margin-top: 30px;
    margin-bottom: 35px;
    .nav-item{
      margin-right: 25px;
      color: #78788F;
      .nav-link{
        color:#787878;
        letter-spacing: .05em;
        line-height: 1;
        font-size:14px;
        background-color: transparent !important;
        padding: 0.4em 0 !important;
        cursor: pointer;
      }
      .nav-link.active{
        color:#FF7500;
        border-bottom: 1px #FF7500 dashed;
      }
    }
  }
}

.tab-content{
  margin-bottom: 30px;
  .tab-pane{
    color:white;
    .h{
      line-height:36px;
      margin:30px 0px;
    }
    h5{
      font-size:24px;
      font-weight: bold;
      span{
        color:#FF7500;
      }
    }
    p{
      color:#d1d1d1;
      line-height: 1.75;
      margin-bottom: 35px;
      text-align: justify;
    }
  }
}

.our-team{
  color:white;
  padding-top: 40px;
  padding-bottom: 75px;
  .dots{
    position: absolute;
    left: 0;
    font-size: 1rem;
    opacity: 0.3;
    letter-spacing: .5em;
    margin-top:0.6rem;
  }
  .titre{
    z-index: 3;
    h2{
      font-size:48px;
      font-weight: bold;
      span{
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px;
      }
    }
  }
  .team-card{
    margin-top: -30px;
    .team-photo{
      height: 320px;
      width: 360px;
      padding-left: 40px;
    }
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .team-member{
      h5{
        margin-top:-1.5rem;
        font-size:24px;
        font-weight: bold;
      }
      p{
        color:#FF7500;
        font-weight: 500;
        font-size: 14px;
        line-height: 0.5em;
      }
    }
  }
}
