<div class="banner-contact">
  <iframe class="video" data-quality="720p" data-muted="true" data-type="youtube" data-id="CvzWVqesoH0" frameborder="0" allowfullscreen="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="1440" height="380" src="https://www.youtube.com/embed/CvzWVqesoH0?controls=0&amp;enablejsapi=1&amp;iv_load_policy=3&amp;loop=1&amp;modestbranding=1&amp;origin=https%3A%2F%2Fbrownbroproduction.fr&amp;playlist=CvzWVqesoH0&amp;playsinline=1&amp;rel=0&amp;widgetid=1" id="widget2" bis_size="{&quot;x&quot;:0,&quot;y&quot;:-379,&quot;w&quot;:1440,&quot;h&quot;:1140,&quot;abs_x&quot;:0,&quot;abs_y&quot;:-379}" data-uniqid="6247016a4de46" style="width: 1440px;"></iframe>
</div>
<div class="container">
  <div class="row">
    <div class="col contact-infos">
      <div class="row contact-title">
        <div class="contact-subtitle">UN PROJET ?</div>
        <h2 class="contact-text">Contactez-nous</h2>
      </div>
      <div class="row">
        <div class="contact-subtitle-1">TÉLÉPHONE</div>
        <h3 class="contact-data">Virgile TRON +33 (0) 6 64 30 49 08</h3>
        <h3 class="contact-data">Lucas FOURQUET +33 (0) 6 42 04 16 45</h3>
      </div>
      <div class="row">
        <div class="contact-subtitle-1">E-MAIL</div>
        <h3 class="contact-data">contact@brownbroproduction.com</h3>
      </div>
      <div class="nav-menu" id="menu_2">
        <div class="social">
          <a href="https://www.youtube.com/channel/UCcOXM_pcslWkH8lROJ3XPNg"><i class="fab fa-youtube"></i></a>
          <a href=""><i class="fab fa-facebook-f"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>
          <a href=""><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>
    <div class="col">
    </div>
  </div>

</div>
