.play-control{
  background-color: transparent;
}

.button-form-new{
  border: 0;
  border-radius: 5px;
  background-color: orange;
}

.send-email{
  background: #FF7500;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 10px 30px;
  letter-spacing: .1em;
  height: 45px;
  color: #fff;
  border: none;
  &:hover{
    opacity: 80%;
  }
}
