.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  z-index: 3;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 180px;
  height: 70px;
}
#navbarSupportedContent{
  justify-content: flex-end;
  .nav-item {
    .nav-link{
      color:white !important;
      text-decoration: none;
      font-size:12px;
      a:hover{
        color: #FF7500;
      }
    }
  }
}
