.header-show{
  margin: 15px 0 50px;
  h3 {
    font-family: Poppins;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    color: white;
    margin: 0.3em 0;
  }
  .post-date{
    font-size: 12px;
    font-weight: 600;
    color: #7c7c7c;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }
}
